* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    height: 100%;
} */

.img1 {
    background-image: url(./img/C.jpg);
    min-height: 100vh;
}

.img2 {
    background-image: url(./img/B.jpg);
    min-height: 600px;
}

.img3 {
    background-image: url(./img/D.jpg);
    min-height: 600px;
}

.img1,
.img2,
.img3 {

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*  background-attachment: fixed; for parallex effect */
}

.img-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 30px;
    font-weight: bold;
}

.text {
    background: hsla(12, 5%, 21%, 0.911);
    color: hsl(0, 31%, 90%);
    padding: 20px;
}

/* section style */

.section {
    padding: 60px 90px;
    text-align: center;
    line-height: 1.8em;
    font-size: 20px;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.section-light {
    background-color: hsla(0, 0%, 83%, 0.911);
    color: #1d1c1c;
}

.section-dark {
    background-color: #1d1c1c;
    color: hsla(0, 0%, 83%, 0.911);
}

.footer {
    background-color: #1d1c1c;
}

.footer p {
    padding: 40px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}